{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{{ settings.OSCAR_SHOP_NAME }}{% if settings.OSCAR_SHOP_TAGLINE %} - {{ settings.OSCAR_SHOP_TAGLINE }}{% endif %}{% endblock %}</title>
    
    {% block description %}
        <meta name="description" content="{{ settings.OSCAR_SHOP_TAGLINE }}" />
    {% endblock %}
    
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    {% endblock %}
    
    {% block extrastyles %}{% endblock %}
    
    {% block extrahead %}{% endblock %}
    
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block layout %}
        {% block header %}
            <header class="header">
                <div class="container-fluid">
                    <h1>{{ settings.OSCAR_SHOP_NAME }}</h1>
                </div>
            </header>
        {% endblock %}
        
        {% block content %}{% endblock %}
        
        {% block footer %}
            <footer>
                <div class="container-fluid">
                    <p>&copy; {% now "Y" %} {{ settings.OSCAR_SHOP_NAME }}</p>
                </div>
            </footer>
        {% endblock %}
    {% endblock %}
    
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static "oscar/js/bootstrap.min.js" %}"></script>
        <script src="{% static "oscar/js/oscar/ui.js" %}"></script>
    {% endblock %}
    
    {% block extrascripts %}{% endblock %}
    
    {% block tracking %}{% endblock %}
</body>
</html>
