{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="NONE,NOARCHIVE">
    
    <title>{% block title %}{% trans "Dashboard" %} - {{ settings.OSCAR_SHOP_NAME }}{% endblock %}</title>
    
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/dashboard.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "oscar/js/select2/select2.min.css" %}" />
    {% endblock %}
    
    {% block extrastyles %}{% endblock %}
    
    {% block extrahead %}{% endblock %}
    
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block layout %}
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
    
    {# Scripts loaded from a CDN with fallback to local files #}
    {% block cdn_scripts %}
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery.min.js" %}"><\/script>')</script>
    {% endblock %}

    {% block scripts %}
        {# Core libraries that depend on jQuery #}
        <script src="{% static "oscar/js/bootstrap4/bootstrap.bundle.min.js" %}"></script>
        
        {# jQuery plugins #}
        <script src="{% static "oscar/js/select2/select2.min.js" %}"></script>
        <script src="{% static "oscar/js/inputmask/jquery.inputmask.min.js" %}"></script>
        <script src="{% static "oscar/js/jquery-sortable/jquery-sortable-min.js" %}"></script>
        <script src="{% static "oscar/js/mousewheel/jquery.mousewheel.js" %}"></script>
        
        {# TinyMCE editor #}
        <script src="{% static "oscar/js/tinymce/tinymce.min.js" %}"></script>
        <script src="{% static "oscar/js/tinymce/jquery.tinymce.min.js" %}"></script>
        
        {# Oscar dashboard scripts #}
        <script src="{% static "oscar/js/oscar/ui.js" %}"></script>
        <script src="{% static "oscar/js/oscar/dashboard.js" %}"></script>
        <script src="{% static "oscar/js/oscar/RelatedObjectLookups.js" %}"></script>
    {% endblock %}
    
    {% block extrascripts %}{% endblock %}
    
    {# Block for body onload functions #}
    <script>
        $(function() {
            {% block onbodyload %}{% endblock %}
        });
    </script>
    
    {% block tracking %}
        {# By default there is no analytics tracking in the dashboard #}
    {% endblock %}
</body>
</html>
