{% extends 'oscar/storefront_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Login" %} - {{ block.super }}
{% endblock %}

{% block page_title %}{% trans "Login" %}{% endblock %}

{% block breadcrumb_items %}
    <li class="active">{% trans "Login" %}</li>
{% endblock %}

{% block content %}
<div class="login-registration_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="login-register_wrapper">
                    <div class="account-form_area">
                        <h3 class="account-sub_title" style="padding: 20px 0;">{% trans "Sign In" %}</h3>
                        <div class="account-form">
                            <form method="post" action="" class="login-form">
                                {% csrf_token %}
                                
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}
                                
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <h4>Form Errors:</h4>
                                        {{ form.errors }}
                                    </div>
                                {% endif %}
                                
                                <div class="default-form-box">
                                    <label for="id_username">Username or Email:</label>
                                    <input type="text" name="username" id="id_username" class="form-control" required>
                                </div>
                                
                                <div class="default-form-box">
                                    <label for="id_password">Password:</label>
                                    <input type="password" name="password" id="id_password" class="form-control" required>
                                </div>
                                
                                <div class="login_submit">
                                    <button class="uren-btn uren-btn_dark uren-btn_fullwidth" type="submit">
                                        {% trans "Sign In" %}
                                    </button>
                                </div>
                                
                                <div class="account_social-desc">
                                    <p>{% trans "Are you staff?" %} <a href="/admin/">{% trans "Access Admin Panel" %}</a></p>
                                    <p><a href="/">{% trans "Back to Home" %}</a></p>
                                </div>
                                
                                {% if next %}
                                    <input type="hidden" name="next" value="{{ next }}">
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
