{% extends "oscar/checkout/layout.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Payment Successful" %} | {{ block.super }}
{% endblock %}

{% block checkout_form %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-body">
                <div class="success-icon mb-4">
                    <i class="fa fa-check-circle text-success" style="font-size: 4rem;"></i>
                </div>
                
                <h2 class="text-success">{% trans "Payment Successful!" %}</h2>
                <p class="lead">{% trans "Your payment has been processed successfully." %}</p>
                
                <hr>
                
                <p>{% trans "You will receive an email confirmation shortly." %}</p>
                
                <div class="mt-4">
                    <a href="{% url 'checkout:thank-you' %}" class="btn btn-primary btn-lg">
                        <i class="fa fa-arrow-right"></i> {% trans "Continue to Order Confirmation" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
